.site-header {
	.logo-nav-wrap {
		@media (min-width: 768px) {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
		}
		@media (max-width: 768px) {

		}
		.logo-burger {
			@media (min-width: 768px) {

			}
			@media (max-width: 768px) {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: center;
			}
			.logo-wrap {
				a {
					img {

					}
				}
			}
			.burger-wrap {
				@media (min-width: 768px) {
					display: none;
				}
				@media (max-width: 768px) {
					display: block;
				}
				.hamburger {
					.hamburger-box {
						.hamburger-inner {
							background-color: $red;
							&::before {
								background-color: $red;
							}
							&::after {
								background-color: $red;
							}
						}
					}
				}
			}
		}
	}
}