.searchform-wrap {
	@media (min-width: 768px) {

	}
	@media (max-width: 768px) {
		
	}
	form.searchform {
		border: 1.5px solid #C1C1C1;
		background: #fff;
		border-radius: 50px;
		max-width: 290px;
		height: 40px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		input[type="text"] {
			font-size: 14px;
			line-height: 29px;
			letter-spacing: .39px;
			background: transparent;
			border: none;
			padding-left: 20px;
			&::placeholder {
				color: #C1C1C1;
			}
		}
		.submit-wrap {
			padding-right: 2px;
			button {
				width: 34px;
				height: 34px;
				background: $brand;
				transition: all 0.5s ease;
				border-radius: 50px;
				padding: 0 !important;
				&:hover {
					background: #fff;
					svg {
						#small-search {
							stroke: $brand !important;
						}
					}
				}
				svg {
					margin-top: -3px;
					#small-search {
						stroke: #fff !important;
					}
				}
			}
		}
	}
}