// Colors
$brand-opacity:  rgba(0,40,85,.8);
$brand:		     rgba(0,40,85,1);
$red: 			 #C8102E;
$dark-gray: 	 #444444;
$light-gray: 	 #F8F8F8;
$h-color: 		 #262525;
$p-color: 		 #7D7D7D;
$footer-bg: 	 #2B2B2B;
$theme-colors: (
    "primary": $brand,
);
$container-max-widths: (
	sm: 767px,
	md: 991px,
	lg: 1139px,
	xl: 80%
);

// Fonts
$headings-font-weight:   	700;
$font-size-base:        	1.125rem;
$line-height-base:       	1.61111;

$h1-size:           		42px;
$h1-height:           		42px;
$h1-space:           		.5px;

$h2-size:           		36px;
$h2-height:           		36px;
$h2-space:           		.5px;

$h3-size:           		28px;
$h3-height:           		28px;
$h3-space:           		.5px;

$h4-size:           		26px;
$h4-height:           		26px;
$h4-space:           		.5px;

$h5-size:           		24px;
$h5-height:           		24px;
$h5-space:           		.5px;

$h6-size:           		22px;
$h6-height:           		22px;
$h6-space:           		.5px;

// Container width
$inner-width: 1252px;